* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: auto;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  place-content: center;
}

.nav_branding {
  width: 50%;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: 0.7s ease;
}

.nav_branding.active {
  opacity: 0;
}

.nav_bar {
  background-color: #3c3a39;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  min-height: 10px;
  z-index: 100;
}

.nav_menu {
  display: none;
}

.nav_email_icon {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Hamburger menu */
.hamburger_icon {
  display: block;
  margin-right: 30px;
  cursor: pointer;
}

.hamburger_icon.active .nav_email_icon:nth-child(2) {
  opacity: 0;
}

.hamburger_icon.active .nav_email_icon:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger_icon.active .nav_email_icon:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile_nav_container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-top: 0;
  position: absolute;
  background-color: #3c3a39;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mobile_nav_container.active {
  opacity: 1;
  transition: 0.8s;
}

.nav_menu2 {
  padding: 5px 34px;
  font-size: 32px;
  width: 100%;
  transition: 0.5s;
  align-items: center;
  list-style: none;
}

.nav_menu2 li {
  border-bottom: 1px solid #dfe1e6;
  padding: 24px 10px 10px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

a {
  color: #fff;
  text-decoration: none;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  left: 0;
  top: 92px;
  background: #1c1a19;
  background-image: url('image folder/illustration-header-mobile.svg');
  background-repeat: no-repeat;
  background-position: 100% 108%;
}

.h1_title {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  margin-top: 10px;
}

.h2_title {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-top: 20px;
}

.p_content {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
}

.social_media_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.social_media_icons {
  list-style: none;
}

.flex {
  display: flex;
}

/* Recent works and multiStories section */

.work_section {
  margin-left: 15px;
  margin-top: -500px;
}

.recent_work_div {
  flex-direction: column;
  margin-top: 650px;
  padding: 0;
  gap: 0;
}

.recent_work_header {
  margin-left: 24px;
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image_line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  order: 1;
  flex-grow: 0;
  margin-top: 15px;
  margin-left: 17px;
}

.img_placeholder {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multi_story {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.recent_work_content {
  margin-top: 100px;
  margin-left: 24px;
}

.recent_work_text {
  margin-top: 25px;
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  order: 1;
  flex-grow: 0;
}

.recent_work_language {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 9px;
  width: 314px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.work_language {
  align-items: center;
  padding: 10px 12px;
  width: 260px;
  height: 40px;
  list-style: none;
  background: #fff;
  border: 1px solid #8993a4;
}

.see_prjt_buttn {
  font-family: 'Inter', sans-serif;
  flex-direction: row;
  align-items: center;
  padding: 19px;
  margin-top: 15px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  color: #fff5e1;
  flex: none;
  order: 3;
  flex-grow: 0;
  text-align: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-left: 0;
}

.see_prjt_buttn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.see_prjt_buttn:active {
  background: #e05304;
  color: #f4f1f0;
}

.recent_project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-left: 22px;
}

.project_background {
  background: url('image folder/projects-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 327px;
  height: 400px;
  position: relative;
}

.project_foreground {
  background:
    linear-gradient(
      179.35deg,
      rgba(38, 38, 38, 0) 0.85%,
      rgba(38, 38, 38, 0.9) 84%
    );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.work_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  height: 386px;
  width: 327px;
  justify-content: flex-end;
}

.work_content h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.work_content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project_tech {
  margin: 30px -3px;
}

.project_tech ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.card_bttn {
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: -30px;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.card_bttn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.card_bttn:active {
  background: #e05304;
  color: #f4f1f0;
}

/* About me section */

.About_me {
  position: absolute;
  width: 100%;
  height: 1501px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
  background-image: url('image folder/Frame.png');
  background-repeat: no-repeat;
  background-position: 100% 20%;
  margin-top: 200px;
}

.about_me_title {
  width: 347px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about_me_content {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 30px;
}

.get_resume {
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 19px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  color: #fff5e1;
  margin-top: 40px;
  border: 1px;
  justify-content: center;
}

.get_resume:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about_me_container {
  margin: 45px 40px;
}

.about_line {
  width: 327px;
  height: 9px;
  position: absolute;
  margin: 100px 50px;
}

.skill_list_container {
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 329px;
  margin: 45px 45px;
}

.skill_list1 {
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  list-style: none;
  color: #fff;
  width: 225.46px;
  height: 281.46px;
}

.skill_list2 {
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  list-style: none;
  color: #fff;
  width: 225.46px;
  height: 281.46px;
}

.skill_list3 {
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  list-style: none;
  color: #fff;
  width: 225.46px;
  height: 281.46px;
}

.Language_skill {
  width: 264px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-left: 60px;
}

.Language_skill2 {
  width: 264px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-left: 50px;
  margin-top: -50px;
}

.language {
  width: 214px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.Language_skill3 {
  width: 264px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-left: 130px;
  margin-top: -50px;
}

/* Contact Form section */

.form_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 58px;
  background: #fff;
  margin-top: 1650px;
}

.form_text {
  display: flex;
  justify-content: center;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 0 0 30px 0;
  width: 327px;
}

.contact_me_form {
  display: flex;
  flex-direction: column;
  margin: 120px 0 0 20px;
  text-align: center;
  width: 327px;
  padding-top: 20px;
  opacity: 2;
}

.form_input_height {
  border-bottom: solid #dbd8d7;
  height: 18px;
  color: #3c3a39;
  opacity: 1;
}

.form_input_fnames {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #979493;
  width: 327px;
  height: 20px;
  margin: auto;
  border: none;
  opacity: 1;
  padding: 20px;
}

.form_input_lnames,
.lname_line {
  display: none;
}

.form_input_email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #979493;
  width: 327px;
  height: 30px;
  margin-top: 20px;
  border: none;
  opacity: 1;
  padding: 10px;
}

.form_input_textarea {
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #3c3a39;
  width: 327px;
  height: 114px;
  margin-top: 40px;
  border: none;
  opacity: 1;
  padding: clamp(0.75rem, 12px + 8vw, 1rem);
}

.get_in_touch_button {
  cursor: pointer;
  align-items: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #f55800;
  order: 2;
  flex-grow: 0;
  color: #fff;
  font-weight: 700;
  margin: 30px 0 0 100px;
  border: 1px;
}

.get_in_touch_button:active {
  transform: translateY(0.5);
  transition: transform 1s ease;
  background: #e05304;
  color: #f4f1f0;
}

.social_media_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background: #fff;
  padding-top: 20px;
  height: 72px;
}

.border_line_form1 {
  width: 100%;
  border: 1.5px solid #b7b8ba;
}

.social_media_link_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.social_media_icon_footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_line {
  width: 154px;
  height: 5px;
  margin: 23px auto 8px;
  background: #0d151e;
  border-radius: 10px;
  opacity: 1;
}

.footer_line1 {
  background: #dfe1e6;
  height: 1px;
}

.get_in_touch_button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

/* Mobile popup section */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  padding: 1rem;
  transition: 200ms ease-in-out;
  transform: scale(0);
}

.modal_content {
  padding: 1rem;
  background: #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 100%;
  transition: 200ms ease-in-out;
  transform: scale(1);
}

.modal.active {
  transform: scale(1);
}

.top_modal_content .desktop_heading {
  display: none;
}

.top_modal_content {
  margin-bottom: 1rem;
  width: 100%;
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mobile_heading {
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 0;
}

.top_modal_content .mobile_heading {
  margin-bottom: 4rem;
  font-weight: 600;
  color: #344563;
}

.close_Xbttn {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.popup_languages {
  display: flex;
  justify-content: space-between;
  width: 90%;
  row-gap: 1rem;
  height: 3.5rem;
}

.popup_languages li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  line-height: 20px;
  list-style: none;
}

.popup_languages li a {
  text-decoration: none;
  color: #091e42;
}

.popup_tags {
  box-sizing: border-box;
  align-items: center;
  height: 3rem;
  background: #fff;
  border: 1px solid #8993a4;
}

.list_tag {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}

.lang_tag {
  height: 2.5rem;
}

.bottom_modal_content {
  display: flex;
  flex-direction: column;
}

.popup_image {
  width: 100%;
}

.popup_description .text-details {
  margin-top: rem;
}

.text_support {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #091e42;
}

.popup_text {
  margin-top: 2.5rem;
}

.popup_button {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 9rem;
  height: 5vh;
  background: #ff6b00;
}

.btn {
  width: 90%;
  height: 6vh;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

.project_tech ul li a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 12px;
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin: 3px;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;

    /* border: solid yellow 0.5px; */
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .nav_bar {
    width: 100%;
    height: 72px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background: #393c39;
    overflow: hidden;
  }

  .nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    padding-bottom: 10px;
    margin-right: 80px;
    list-style: none;
  }

  .nav_branding {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-bottom: 10px;
  }

  .nav_link {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    transition: 0.7s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .email_icon {
    margin-right: 20px;
  }

  .nav_link:hover {
    color: #f55800;
  }

  .hamburger_icon {
    display: none;
  }

  .nav_email_icon {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .hr-line_break3 {
    display: none;
  }

  .mobile_nav_container {
    display: none;
  }

  .main_section_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0.5rem 12rem 12rem;
    gap: 24px;
    left: 143px;
    top: 72px;
  }

  .h1_title {
    width: 35.38rem;
    height: 10rem;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 1s ease-in-out;
    transition-duration: 0.7s;
  }

  .h1_title:hover {
    font-size: 90px;
    word-spacing: 2px;
    color: #c5c467;
    font-weight: 900;
  }

  .h2_title {
    width: 566px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .p_content {
    width: 566px;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2rem;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .social_media_group {
    position: absolute;
    height: auto;
    list-style-type: none;
    flex-direction: column;
    flex-basis: 0;
    flex-shrink: 0;
    margin-top: 19rem;
  }

  .social_media_icons {
    margin-top: 0;
  }

  /* Recent works */

  .recent_work_div {
    display: flex;
    flex-direction: row;
  }

  .image_line {
    margin-top: 2.81rem;
    width: 65%;
  }

  .recent_works_header {
    width: 327px;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .recent_work_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 2px;
    width: 1156px;
    height: 448px;
    left: -1px;
    top: 0;
  }

  .recent_work_language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 314px;
    height: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    list-style: none;
  }

  .img_placeholder {
    width: 684px;
    height: 448px;
    margin: 0 40px 0 0;
  }

  .placeholder_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 448px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .multi_story {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-top: -10px;
  }

  .see_prjt_buttn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: #f55800;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0 0 0 0;
  }

  .recent_work_text {
    width: 448px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin-top: -5px;
  }

  .recent_project {
    display: grid;
    gap: 24px;
    margin-top: 10rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card_bttn {
    background: #ff6b00;
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .project_background {
    background: url('image folder/projects-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
  }

  .project_foreground {
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 600ms cubic-bezier(0.73, 0.59, 0, 0.55);
  }

  .work_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    height: 386px;
    width: 327px;
    justify-content: flex-end;
  }

  .work_content h3 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .work_content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .project_tech {
    margin: 0 16px;
  }

  .project_tech ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
  }

  .project_foreground:hover {
    transform: scale(1.02);
    z-index: 10000;
    background: transparent;
    cursor: pointer;
  }

  .work_content,
  .project_tech {
    opacity: 1;
  }

  .project_foreground:hover .work_content {
    opacity: 0;
  }

  .project_foreground:hover .project_tech {
    opacity: 0;
  }

  .project_foreground:hover .card_bttn {
    opacity: 1;
  }

  /* About me */

  .About_me {
    width: 87rem;
    height: 1195px;
    left: 0;
    top: 2680px;
    background: #262626;
    overflow: hidden;
  }

  .about_me_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0;
    gap: 24px;
    height: 582px;
    background-image: url('image folder/illustration/About_me_img.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }

  .about_me_title {
    width: 566px;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .get_resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 156px;
    height: 48px;
    background: #f55800;
    order: 2;
    flex-grow: 0;
  }

  .about_me_content {
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .skill_list_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 152px;
    margin: -100px 190px 0 0;
  }

  .skill_list1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 289.46px;
    height: 281.46px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #dfe1e6;
    list-style: none;
    margin-top: -50px;
  }

  .skill_list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 289.46px;
    height: 281.46px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #dfe1e6;
    list-style: none;
  }

  .skill_list3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 289.46px;
    height: 281.46px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #dfe1e6;
    list-style: none;
  }

  .about_line {
    margin-top: -100px;
    position: absolute;
    width: 1156px;
  }

  /* Form section */

  .form_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0;
    gap: 24px;
    width: 1163px;
    height: 590px;
    left: 135px;
    margin-top: -100px;
  }

  .contact_me_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;
    width: 684px;
    height: 330px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 20px;
  }

  .form_name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form_text {
    width: 455px;
    height: 256px;
    color: #262626;
    align-items: center;
    text-align: left;
    padding-left: 100px;
  }

  .form_input_textarea {
    background: #fbf8f7;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #979493;
    width: 684px;
    height: 114px;
  }

  .form_input_email {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #979493;
    width: 684px;
    height: 48px;
    opacity: 0.5;
  }

  .form_input_fnames {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #979493;
    width: 330px;
    height: 48px;
    margin: auto;
    border: none;
    opacity: 0.5;
  }

  .form_input_lnames {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #979493;
    width: 330px;
    height: 48px;
    border: none;
    opacity: 0.5;
  }

  .get_in_touch_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 12px;
    width: 131px;
    height: 48px;
    background: #f55800;
    cursor: pointer;
    order: 2;
    flex-grow: 0;
    color: #fff;
    margin: 0 0 0 0;
    border: 1px;
    gap: 10px;
  }

  .border_line_form1 {
    width: 1440px;
  }

  .required_field::after {
    content: ' *';
    color: red;
    float: left;
  }

  .required_field2::after {
    content: ' *';
    color: red;
    float: left;
  }

  .required_field3::after {
    content: ' *';
    color: red;
    float: left;
  }

  .required_field4::after {
    content: ' *';
    color: red;
    float: left;
  }
}

@media screen and (min-width: 1297px) {
  .main_section {
    background-color: #1c1a19;
    background-image: url('./image folder/Illustration-header.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0 24px;
    color: white;
    overflow-x: hidden;
  }
}

/* Desktop Popup section */
@media screen and (min-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    transition: 200ms ease-in-out;
    transform: scale(0);
    z-index: 1000;
  }

  .modal_content {
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid black;
    background: #fff;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.07);
    height: 90%;
    width: 77%;
    transition: 200ms ease-in-out;
    transform: scale(1);
  }

  .modal.active {
    transform: scale(1);
  }

  .top_modal_content {
    margin-bottom: 1rem;
    width: 100%;
  }

  .popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .mobile_heading {
    display: none;
  }

  .popup_languages {
    display: flex;
    padding: 0;
    width: 90%;
    height: 3.5rem;
  }

  .top_modal_content .desktop_heading {
    margin: 0.5rem 0;
    padding-top: 12px;
    font-weight: 600;
    color: #344563;
    height: 20px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .list_tag {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  .popup_languages li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.6rem 0.4rem;
    line-height: 20px;
    list-style: none;
    color: #091e42;
  }

  .popup_languages li a {
    text-decoration: none;
    color: #091e42;
  }

  .lang_tag {
    height: 2.5rem;
  }

  .popup_tags {
    box-sizing: border-box;
    align-items: center;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .header_tags {
    margin-top: -0.1rem;
    margin-bottom: 1rem;
  }

  .close_Xbttn {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .bottom_modal_content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .popup_image_container {
    width: 100%;
    position: relative;
    margin-top: 3rem;
  }

  .popup_image {
    height: 93%;
  }

  .popup_description {
    width: 70%;
  }

  .popup_description .popup_text {
    padding-bottom: rem;
  }

  .text_details {
    line-height: 30px;
    margin-bottom: 3.5rem;
  }

  .text_support {
    width: 92%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #091e42;
  }

  .popup_button {
    display: flex;
    gap: 0.5rem;
    width: 80%;
    padding-top: 0.7rem;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: 11rem;
    height: 7vh;
    background: #ff6b00;
  }

  .btn {
    width: 100%;
    height: 6vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
  }
}
